.container {
  header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    margin-top: 49px;
    padding: 5px;
    text-align: center;
    overflow: hidden;
  }

  header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d2dab982;
    z-index: 1;
  }

  header h1,
  header h3,
  header p {
    position: relative;
    z-index: 2;
    color: #19220f;
  }

  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    article {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        width: fit-content;
      }
      img {
        height: auto;
        max-width: 70%;
        clip-path: circle();
      }
      div {
        label {
          margin: 5px;
        }
        input {
          width: 30px;
          clip-path: circle();
          border: none;
          text-align: center;
        }
        button {
          width: fit-content;
          margin-bottom: 15px;
        }
      }
    }
  }
  #button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  button {
    width: 30%;
    float: inline-end;
  }
  button:hover {
    background-color: #7e8e48;
    color: #19220f;
    transition: background-color 0.8s ease, color 0.8s ease;
  }
  a {
    button {
      width: 50%;
      float: inline-start;
    }
  }
}
