.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  img {
    align-self: center;
  }

  h1 {
    margin-top: 20px;
    text-align: center;
  }
  h2 {
    margin-left: 50px;
  }
}
