.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  form {
    border-radius: 15px;
    padding: 20px;
    margin-top: 50px;
    width: 90%;
    background-color: #7e8e48;

    label {
      margin: 10px 0px;
    }

    input {
      width: 100%;
      margin: 1px;
      background-color: #d2dab9;
      border: none;
      border-radius: 5px;
      padding: 5px;
    }

    #button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    button {
      width: 50%;
    }
    button:hover {
      background-color: #d2dab9;
      color: #19220f;
      transition: background-color 0.8s ease, color 0.8s ease;
    }
    a {
      button {
        width: 30%;
        float: inline-end;
      }
    }

    img {
      max-height: 100px;
    }
  }
}
