.container {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    background: transparent;
    border: none;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 75%;
    border: 2px solid black;
  }
}
i,
em {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: block;
  padding: 3px;
}

i {
  transform: rotate(-45deg);
}

em {
  transform: rotate(135deg);
}
