.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px 20px;

  h1 {
    text-align: center;
  }

  img {
    align-self: center;
    height: 75%;
    width: 75%;
    border: 1px solid black;
    border-radius: 15px;
  }
  span {
    text-align: center;
    align-self: center;
  }
}

.levels {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  div {
    flex-direction: column;
  }
}
