.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  form {
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;

    label {
      margin: 15px 0px;
    }

    input {
      width: 305px;
    }

    #button-container {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }
}

// #checkbox-wrapper {
// }

// @media (min-width: 700px) {
//   #checkbox-wrapper {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

// @media (min-width: 1100px) {
//   #checkbox-wrapper {
//     grid-template-columns: repeat(3, 1fr);
//   }
// }

// @media (min-width: 1400px) {
//   #checkbox-wrapper {
//     grid-template-columns: repeat(4, 1fr);
//   }
// }
