* {
  box-sizing: border-box;
}

html,
body {
  background-color: #d2dab9;
  margin: 35px 0px;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #19220f;
  margin: 0;
  padding: 0;
}

a {
  color: #19220f;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  border-radius: 5px;
  margin: 5px 10px;
  background-color: #19220f;
  color: #d2dab9;
}

input:focus,
button:focus,
select:focus {
  outline: none;
}

// button:hover {
//   background-color: #d2dab9;
//   color: #19220f;
//   outline: #19220f 2px solid;
//   transition: background-color 0.3s, color 0.3s, border-color 0.3s;
// }
